<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.tfm">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <service
                android:name=".service.FirebaseListenerService"
                android:enabled="true"
                android:exported="true" />

        <activity android:name=".activity.ImageDisplayActivity"/>
        <activity android:name=".activity.PrivacyPolicyActivity" />
        <activity
                android:name=".activity.MySettingActivity"
                android:screenOrientation="portrait" />
        <activity android:name=".activity.ImageToolActivity" />
        <activity
                android:name=".activity.UserProfileActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.SignupActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.LoginActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDonzV1O6YpOHKE0QwNLhzKqMmlwKkm9ng" />

        <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="label" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.LocationSenderActivity" />
        <activity
                android:name=".activity.UserSearcherActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.ChatActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />
        <activity
                android:name=".activity.MainActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>